* {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: cornsilk;
  display: flex;
}
#pagesubname {
  align-items: center;
}
main {
  background-color: pink;
}
footer {
  background-color: cornsilk;
}
